<% if user_signed_in? %>

<p id="notice"><%= notice %></p>

<h1>Calculations</h1>

<table class = "table table-striped table-bordered table-hover text-center">
  <thead class = "table-dark">
    <tr>
      <th>Value</th>
      <th>Description</th>
      <th>Transaction</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calculations.each do |calculation| %>
      <% if calculation.user == current_user %>
      <tr>
        <td><%= calculation.value %></td>
        <td><%= calculation.description %></td>
        <td><%= calculation.status_type %></td>
        <td><%= calculation.transaction_date %></td>
        <td><%= link_to 'Show', calculation %></td>
        <td><%= link_to 'Edit', edit_calculation_path(calculation) %></td>
        <td><%= link_to 'Destroy', calculation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
    <%= link_to 'Add Record', new_calculation_path, class:"btn btn-light" %>



<% else %>
<div class="p-5 m-2 text-center">
<h1>Welcome!!</h1>
Sign-In or Sign-Up to crunch some numbers!
</div>
<% end %>